@import url(reset.css);
@import url(fonts.css);

.wrapper {
  min-height: 100%;
  overflow: clip;
}

.header {
  padding: 20px 0;
  background-color: aqua;
}
h1 {
  font-size: 45px;
  text-transform: uppercase;
  text-align: center;
}
.page__container {
  padding: 100px 0;
}
.animation {
}
.item {
  position: relative;
  width: 150px;
  height: 150px;
  padding: 10px;
  animation-name: item-left;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.animation__item {
  background-color: aqua;
}

@keyframes item-left {
  0% {
    left: 0%;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    left: 90%;
  }
}

.animation__item:hover::before {
  content: "відпусти мене";
  color: red;
  font-size: 20px;
  max-width: 100px;
  height: 100%;
  position: absolute;
  left: 10%;
  top: 50%;
}

.animation__item2 {
  position: relative;
  width: 150px;
  height: 150px;
  background-color: rgb(7, 109, 109);
  animation-name: item-right;
  animation-duration: 1.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
@keyframes item-right {
  0% {
    left: 90%;
  }
  50% {
    border-radius: 50%;
  }
  100% {
    left: 0%;
  }
}

.animation__item2:hover::before {
  content: "мене теж";
  color: red;
  font-size: 20px;
  max-width: 100px;
  max-height: 100px;
  position: absolute;
  left: 10%;
  top: 50%;
}

.item:not(:last-child):hover {
  animation-play-state: paused;
  transform: scale(1.2);
}
.animation__item2:last-child:hover {
  transform: scale(1.1);
}

.animation__item2:last-child:hover::before {
  content: "навіть не думай)";
  color: firebrick;
}
.item:last-child {
  animation-duration: 10s;
}

.car {
  position: relative;
  padding: 200px 0;
  background-color: cadetblue;

  background: url("../img/mln/bg.jpg") 0 0 / cover no-repeat;
}

.car__body {
  border-radius: 45% 90% 45% 35% / 13% 81% 18% 34%;
  background-color: red;
  width: 600px;
  height: 200px;
  position: relative;
  left: 0;
  z-index: 2;
  bottom: -80px;
  animation-name: car;
  animation-duration: 5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in;
  animation-iteration-count: 3;
}

.car__body:hover {
  animation-play-state: paused;
}

.img-1 {
  max-width: 500px;
  position: relative;
  top: 50%;
  left: -100%;
  animation-name: end;
  animation-duration: 3s;
  animation-delay: 6s;
  animation-fill-mode: forwards;
}

.car__body:hover:before {
  content: "Ka-Chow!!!";
  width: 150px;
  height: 100px;
  text-align: end;
  font-size: 20px;
  padding: 30px 10px;
  position: absolute;
  top: -70%;
  left: 60%;
  background-color: #fff;
  border-radius: 89% 11% 100% 0% / 98% 51% 49% 2%;
}

.img-2 {
  max-width: 400px;
  max-height: 400px;
  position: absolute;
  top: 50%;
  left: 70%;
  z-index: 1;
  transform-origin: top;
}

@keyframes end {
  0% {
    left: 100%;
    transform: scale(0);
    transform: rotate(0);
  }
  50% {
    /* transform: scale(0.5); */
  }
  100% {
    left: 10%;
    transform: scale(1);
    transform: rotate(360deg);
  }
}

.car__end img {
  width: 100%;
}

@keyframes car {
  0% {
    left: -100%;
  }
  50% {
  }
  100% {
    left: 100%;
  }
}

.car__body::after {
  content: "";
  width: 150px;
  height: 100px;
  /* border: 1px solid #000; */
  background-color: red;
  position: absolute;
  bottom: 80%;
  right: 90%;
  transform: matrix(0.5, 0.1, 0.1, 0.5, 10, 15);
  z-index: -1;
}

.car__roof {
  border-radius: 69% 32% 70% 0% / 100% 100% 0% 0%;
  width: 250px;
  height: 100px;
  background-color: red;
  position: absolute;
  bottom: 75%;
  left: 20%;
}

.car__headlight {
  border-radius: 83% 28% 50% 59% / 56% 100% 0% 57%;
  width: 100px;
  height: 50px;
  border: 1px solid black;
  position: absolute;
  top: 75px;
  right: 10px;
  background-color: #e3ea11b6;
}
.wheel {
  width: 130px;
  border-radius: 50%;
  animation-name: wheel;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes wheel {
  0% {
    transform: rotate(0);
  }
  50% {
  }
  100% {
    transform: rotate(360deg);
  }
}

.car__wheel {
  position: absolute;
  bottom: -45px;
  left: 12%;
  width: 150px;
}

.car__wheel2 {
  position: absolute;
  bottom: -45px;
  right: 10%;
}
.wheel img {
  width: 100%;
}

.car__eye {
  width: 150px;
  position: absolute;
  top: -40px;
  left: 50%;
  transform: rotateY(40deg);
}

.car__eye img {
  width: 100%;
}

.car__logo {
  width: 500px;

  position: absolute;
  top: -45px;
  left: 0;
  transform: rotate(-8deg);
  z-index: 3;
}
.car__logo img {
  width: 100%;
}

.car p {
  padding: 40px;
  text-align: center;
  font-size: 60px;
  font-weight: 600;
  color: brown;
}

.footer {
  padding: 20px 0;
  background-color: blueviolet;
}
.footer p {
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  color: red;
}
