@import url("https://fonts.googleapis.com/css?family=Roboto:500&display=swap");
@import url(fonts.css);
@import url(reset.css);

.container {
  max-width: 900px;
  margin: 0 auto;
  overflow: hidden;
}
.header {
  background-color: bisque;
  margin-bottom: 10px;
}

.text {
  text-align: center;
  font-size: 40px;
  text-transform: uppercase;
  color: blueviolet;
  font-weight: 600;
  text-shadow: 5px 5px 5px #000;
  padding: 15px;
}

.items {
  margin: 0 -5px;
  font-size: 0;
}

.item {
  width: 33.333%;
  display: inline-block;
  padding: 0 5px;
  vertical-align: top;
}

.content {
  text-align: center;
  background-color: aqua;
  padding: 10px 0px;
}

.content-title {
  color: brown;
  font-size: 30px;
  margin-bottom: 10px;
  text-shadow: 4px 4px 5px #000;
}

.content-subtitle {
  font-size: 25px;
  color: blue;
  text-decoration: underline;
  margin: 0 0 15px 0;
}

.content-img {
  max-width: 300px;
  margin: 0 auto;
  padding: 0 10px;
}

img {
  width: 100%;
}

.content-text {
  font-size: 18px;
  padding: 5px 10px;
  text-align: left;
}

.content-text-scroll {
  font-size: 18px;
  padding: 5px 10px;
  text-align: left;
  height: 135px;
  overflow: auto;
}

/* Eccomerce */
.eccomerce-block {
  margin: 0 auto;
  width: 1920px;
  text-align: center;
  background-color: aliceblue;
}

.eccomerce-content {
  font-size: 0;
  margin: 0 -12px;
  padding: 100px 0px;
}

.eccomerce-title {
  font-size: 50px;
  color: #000;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  margin-bottom: 60px;
}

.eccomerce-link {
  display: inline-block;
  padding: 0 12px;
}

/* KROVATO */

.krovato {
  font-family: "Proxima Nova", sans-serif;
  margin-bottom: 40px;
}

.krovato h1 {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%; /* 48/40 */
  margin-bottom: 50px;
}

.krovato-content {
  margin: 0 auto;
  text-align: center;
  max-width: 1070px;
  color: #2b2929;
}

.krovato-img {
  display: inline-block;
  max-width: 1070px;
  margin-bottom: 40px;
}
img {
  width: 100%;
}

.krovato-text {
  font-weight: 400;
  line-height: 30px;
  text-align: left;
  margin-left: 15px;
  margin-bottom: 50px;
}

.krovato-title {
  font-size: 20px;
  text-align: left;
  font-weight: 600;
  line-height: 140%; /* 28/20 */
  margin-bottom: 40px;
}

.krovato-list {
  text-align: left;
  line-height: 187.5%; /* 30/16 */
}

.krovato-list li {
  padding-left: 50px;
  margin-bottom: 20px;
}

.krovato-subtitle {
  text-align: left;
  line-height: 187.5%; /* 30/16 */
}

.krovato-blocks-item img {
  max-width: 105px;
}

.krovato-blocks {
  margin: 0 auto;
  text-align: center;
  max-width: 1290px;
}

.krovato-blocks-items {
  font-size: 0;
  margin: 0 -10px;
}

.krovato-blocks-item {
  display: inline-block;
  width: 25%;
  vertical-align: top;
  padding: 0 10px;
}

.krovato-blocks-header {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%; /* 48/40 */
  margin-bottom: 45px;
}

.krovato-blocks-title {
  font-size: 26px;
  text-align: center;
  line-height: 130.769231%; /* 34/26 */
  font-weight: 600;
  margin-bottom: 20px;
}

.krovato-blocks-text {
  line-height: 187.5%; /* 30/16 */
  font-size: 16px;
}

.footer {
  height: 50px;
  background-color: aqua;
  text-align: center;
  color: crimson;
  font-size: 40px;
}
