@import "_reset.scss";
body {
  font-family: "Proxima Nova", sans-serif;
}
.wrapper {
  min-height: 100%;
  overflow: clip;
  display: flex;
  flex-direction: column;
}

.wrapper > main {
  flex-grow: 1;
}

[class*="__container"] {
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 50;
  // .header__top

  &__top {
    @media (max-width: 991.98px) {
      display: none;
    }
    background-color: #f8f8f8;
    padding: 15px 0;
  }
}
.top-header {
  @media (max-width: 991.98px) {
    display: none;
  }
  // .top-header__container

  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 15px;
    @media (max-width: 991.98px) {
      flex-direction: column;
      //  !!!!!!!!
      align-items: flex-start;
    }
  }

  // .top-header__menu

  &__menu {
    @media (max-width: 991.98px) {
      order: 2;
    }
  }

  // .top-header__social

  &__social {
    display: flex;
    align-items: center;
    column-gap: 30px;
    row-gap: 5px;
    @media (max-width: 991.98px) {
      flex-direction: column;
      row-gap: 10px;
      order: 1;
    }
  }

  // .top-header__lang

  &__lang {
  }
}
.menu-top {
  // .menu-top__list

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;

    @media (max-width: 1170px) {
      column-gap: 20px;
    }
    @media (max-width: 991.98px) {
      flex-direction: column;
      row-gap: 20px;
      align-items: flex-start;
    }
  }

  // .menu-top__link

  &__link {
    transition-duration: 0.5s;
    @media (any-hover: hover) {
      &:hover {
        color: rgb(255, 203, 124);
        text-decoration: underline;
      }
    }
    @media (max-width: 991.98px) {
      font-size: 20px;
      font-weight: 600;
      color: #535353;
    }
  }
}
.social-top-menu {
  // .social-top-menu__title

  &__title {
    color: #535353;
    @media (max-width: 991.98px) {
      display: none;
    }
  }

  // .social-top-menu__list

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;
  }

  // .social-top-menu__link

  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    transition-duration: 0.3s;
    img {
      width: 18px;
      height: 18px;
      aspect-ratio: 30 / 30;
      object-fit: cover;
    }
    @media (any-hover: hover) {
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  &__link--green {
    background-color: #75b73b;
  }

  // .social-top-menu__link--t

  &__link--blue {
    background-color: #40b3e0;
  }

  // .social-top-menu__link--v

  &__link--purple {
    background-color: #6f3faa;
  }
}
.lang-top {
  cursor: pointer;
  position: relative;

  &:hover &__list {
    top: 100%;
    opacity: 1;
    pointer-events: all;
    z-index: 3;
  }

  // .lang-top__label

  &__label {
    display: flex;
    align-items: center;
    column-gap: 6px;
    font-size: 19px;
    font-weight: 600;
    // line-height: 126.316%;
    &::after {
      content: "";
      background: url("../img/mid/arrow-down.svg") 0 0 no-repeat;
      flex-shrink: 0;
      width: 12px;
      height: 8px;
    }
  }

  // .lang-top__list

  &__list {
    pointer-events: none;
    position: absolute;
    top: 120%;
    opacity: 0;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 1px 1px 2px #000;
    padding: 8px;
    transition-duration: 0.3s;
  }

  // .lang-top__link

  &__item {
    &:not(:last-child) {
      margin-bottom: 5px;
    }
  }

  &__link {
    @media (any-hover: hover) {
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.header {
  // .header__mid

  &__mid {
    padding: 25px 0;
    border-bottom: 2px solid #f8f8f8;
  }
}
.mid-header {
  // .mid-header__container

  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 10px;
    @media (max-width: 1170px) {
      column-gap: 10px;
    }
    @media (max-width: 860px) {
      justify-content: space-between;
    }
  }

  // .mid-header__logo

  &__logo {
    z-index: 2;
    position: relative;
    width: 250px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    justify-content: flex-end;
    img {
      width: 250px;
    }
    @media (max-width: 1170px) {
      width: 170px;
    }
    @media (max-width: 860px) {
      width: 250px;
    }
    @media (max-width: 480px) {
      width: 170px;
      justify-content: flex-end;
    }
    @media (max-width: 321px) {
      width: 80px;
      justify-content: flex-start;
    }
  }

  // .mid-header__btn

  &__btn {
    z-index: 2;
    position: relative;
    background-color: #ffbc57;
    padding: 11px 20px;
    border-radius: 8px;
    // min-height: 50px;
    transition-duration: 0.3s;
    flex-grow: 0;
    @media (any-hover: hover) {
      &:hover {
        background-color: #faaf3e;
      }
      @media (max-width: 360px) {
        min-height: 10px;
        padding: 8px 15px;
      }
    }
    span {
      color: #fff;
      font-size: 19px;
      font-weight: 600;
      display: flex;
      align-items: center;
      column-gap: 10px;
      &::before {
        content: "";
        background: url("../img/menu-catalog.svg") 0 0 no-repeat;
        width: 24px;
        height: 24px;
        flex-shrink: 0;
        @media (max-width: 480px) {
          display: none;
        }
      }
    }
  }

  // .mid-header__search

  &__search {
    position: relative;
    z-index: 2;
  }

  // .mid-header__contacts

  &__contacts {
  }

  // .mid-header__actions

  &__actions {
    z-index: 2;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 20px;
  }

  // .mid-header__button

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid #ffbc57;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        background-color: #ffbc57;
      }
    }
    @media (max-width: 360px) {
      width: 40px;
      height: 40px;
    }
  }

  // .mid-header__button--favorite

  &__button--search {
    display: none;
    @media (max-width: 480px) {
      display: flex;
    }
  }

  &__button--favorite {
  }

  // .mid-header__button--cart

  &__button--cart {
  }
}
.search-mid-header {
  flex-grow: 1;
  position: relative;
  border-radius: 8px;
  border: 1px solid #b1b1b1;
  background: #fff;
  // .search-mid-header__input

  &__input {
    height: 50px;
    padding-left: 15px;
    padding-right: 50px;
    border-radius: 8px;
    outline-color: #ffbc57;
    transition-duration: 0.3s;
    &:focus::placeholder {
      opacity: 0;
      transition-duration: 0.5s;
    }
  }

  // .search-mid-header__button

  &__button {
    background: url("../img/mid/search.svg") center no-repeat;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 0;
    right: 0;
  }
  @media (max-width: 480px) {
    display: none;
  }
}
.contacts-mid-header {
  z-index: 2;
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 10px;
  // .contacts-mid-header__icon

  &__icon {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fbfbfb;
    z-index: 3;
  }

  // .contacts-mid-header__content

  &__content {
    position: relative;
    padding-right: 20px;
    z-index: 2;
    @media (max-width: 991.98px) {
      display: none;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      background: url("../img/mid/arrow-down.svg") 0 0 no-repeat;
      width: 12px;
      height: 8px;
    }
  }

  // .contacts-mid-header__text

  &__text {
    color: #535353;
    font-size: 13px;
    font-weight: 300;
    margin-bottom: 5px;
  }

  // .contacts-mid-header__phones

  &__phones {
  }
}

.contacts-mid-header__icon:hover ~ .contacts-mid-header__content {
}

.phones-mid-header {
  // .phones-mid-header__popup

  &__popup {
    position: absolute;
    width: 105%;
    height: 160px;
    overflow: hidden;
    top: -5%;
    left: -1%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 1px 5px #000;
    z-index: 2;
    opacity: 0;
    visibility: hidden;
    transition: all 0.5s;
    @media (max-width: 991.98px) {
      width: 180px;
      height: 200px;
      overflow: auto;
      top: 0%;
      left: -140%;
    }
  }
}
.popup-phones {
  // .popup-phones__container

  &__container {
    padding-top: 55px;
    padding-bottom: 10px;
    @media (max-width: 991.98px) {
      padding: 55px 10px 10px 10px;
    }
  }
  .popup-phones {
    // .popup-phones__list

    &__list {
      display: flex;
      align-items: flex-end;
      flex-direction: column;
      row-gap: 15px;
      padding-right: 15px;
    }

    // .popup-phones__item

    &__item {
    }

    // .popup-phones__link

    &__link {
      font-size: 20px;
      font-weight: 600;
      // @media (max-width: 991.98px) {
      //   font-weight: 400;
      //   font-size: 18px;
      // }
      @media (any-hover: hover) {
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}

.popup-phones .phones-mid-header__popup {
  top: -5%;
  visibility: visible;
  opacity: 1;
}
.popup-phones .contacts-mid-header__icon {
  background-color: #ececec;
}

.phones-mid-header {
  // .phones-mid-header__tell

  &__tell {
    color: #2b2929;
    font-size: 20px;
    font-weight: 600;
  }
}

.header {
  // .header__bottom

  &__bottom {
    @media (max-width: 991.98px) {
      display: none;
    }
  }
}
.bottom-header {
  padding: 18px 0;
  border-bottom: 2px solid #f8f8f8;

  // .bottom-header__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
    column-gap: 15px;
    row-gap: 10px;
    @media (max-width: 991.98px) {
      flex-direction: column-reverse;
      align-items: flex-start;
      row-gap: 25px;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
    }
  }

  // .bottom-header__menu

  &__menu {
    color: #535353;
    font-weight: 600;
  }
}
.header-menu-left {
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: 400px;
  @media (min-width: 1170px) {
    flex-basis: 430px;
  }
  @media (max-width: 991.98px) {
    flex-basis: auto;
    order: 4;
  }
  // .header-menu-left__list

  &__list {
    display: flex;
    align-items: center;
    column-gap: 40px;
    row-gap: 10px;
    flex-wrap: wrap;
    @media (max-width: 1170px) {
      column-gap: 20px;
    }
    @media (max-width: 991.98px) {
      flex-direction: column;
      row-gap: 20px;
      font-size: 20px;
      align-items: flex-start;
    }
  }

  // .header-menu-left__item

  &__item {
  }

  // .header-menu-left__link

  &__link {
    display: flex;
    align-items: center;
    padding-left: 29px;
    min-height: 24px;
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: #ffbc57;
      }
    }
  }

  // .header-menu-left__link--star

  &__link--star {
    background: url("../img/bottom/star.svg") left / 24px no-repeat;
  }

  // .header-menu-left__link--sale

  &__link--sale {
    background: url("../img/bottom/sale.svg") left / 24px no-repeat;
  }

  // .header-menu-left__link--credit

  &__link--credit {
    background: url("../img/bottom/part.svg") left / 24px no-repeat;
  }
}
.header-menu-right {
  @media (max-width: 991.98px) {
    order: 3;
  }
  // .header-menu-right__list

  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    column-gap: 40px;
    row-gap: 10px;
    flex-wrap: wrap;
    flex-grow: 0;

    @media (max-width: 1170px) {
      column-gap: 20px;
    }
    @media (max-width: 991.98px) {
      flex-direction: column;
      row-gap: 20px;
      font-size: 20px;
      align-items: flex-start;
    }
  }

  // .header-menu-right__item

  &__item {
  }

  // .header-menu-right__link

  &__link {
    transition: all 0.3s;
    @media (any-hover: hover) {
      &:hover {
        color: #ffbc57;
      }
    }
  }
}

.menu-icon {
  display: none;

  @media (max-width: 991.98px) {
    display: block;
    position: relative;
    height: 18px;
    width: 30px;
    flex-shrink: 0;
    z-index: 2;

    &::before,
    &::after {
      content: "";
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      background-color: #000;
      transition: all 0.3s;
    }
    &::before {
      top: 0;
    }
    &::after {
      bottom: 0;
    }
    span {
      height: 2px;
      width: 100%;
      position: absolute;
      left: 0;
      top: 50%;
      background-color: #000;
      transform: translate(0px, -50%);
    }
  }
}

.menu-open .menu-icon::before {
  transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px;
}
.menu-open .menu-icon::after {
  transform: rotate(45deg);
  bottom: 50%;
  margin-bottom: -1px;
}
.menu-open .menu-icon span {
  transform: scale(0);
}

.header {
  // .header__burger

  &__burger {
    display: none;
    &::before {
      content: "";
      position: fixed;
      top: 0;
      right: -100%;
      transition: all 0.5s;
      width: 100%;
      height: 175px;
      background-color: #fff;
      z-index: 2;
    }
    @media (max-width: 991.98px) {
      display: block;
      position: fixed;
      top: 0;
      right: -100%;
      transition: all 0.5s;
      width: 100%;
      height: 100%;
      z-index: 1;
      background-color: #fff;
      overflow: auto;
      padding-top: 175px;
      padding-bottom: 20px;
    }
  }
}
.burger-header {
  // .burger-header__container

  &__container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: flex-start;
  }
}

.menu-open .header__burger {
  right: 0;
}
.menu-open .header__burger::before {
  right: 0;
}

.header__adaptiv {
}

.header {
  // .header__adaptiv

  &__adaptiv {
    display: none;
    @media (max-width: 860px) {
      display: block;
    }
  }
}
.adaptiv-header {
  padding: 12px 0;
  // .adaptiv-header__container

  &__container {
    display: flex;
    justify-content: space-between;

    column-gap: 20px;
    @media (max-width: 360px) {
      column-gap: 10px;
    }
  }
}
